<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">Welcome123</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">se_admin</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.atos.stock.model.SeUser"/>
        <mapping class="com.atos.stock.model.UserPortfolio"/>
        <mapping class="com.atos.stock.model.WatchList"/>
        <mapping class="com.atos.stock.model.StockData"/>
        <mapping class="com.atos.stock.model.CompanyData"/>
        
    </session-factory>
</hibernate-configuration>
